<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .toolbar {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    background: #1976d2;
    color: white;
    font-weight: 600;
    padding: 10px 14px 7px;
  }

  .app-title {
    font-size: 18px;
    cursor: pointer;
  }

  .center {
    margin: 0 auto;
  }

  .align-l {
    float: left;
  }

  .align-r {
    float: right;
  }

  .min-w-500 {
    min-width: 500px;
  }

  .tc-w {
    color: white;
  }

  .search-bar {
    font-size: 15px;
  }

  .search-bar::placeholder {
    color: white !important;
  }

  ::ng-deep.mat-form-field-underline,
  ::ng-deep.mat-form-field-ripple {
    background: white !important;
  }

  .search-btn {
    margin-left: 7px;
    color: #1976d2 !important;
    background: white !important;
  }

  .content {
    margin: 90px 30px 0px;
    padding-bottom: 60px;
  }

  .card {
    margin: 10px;
    height: 315px;
    cursor: pointer;
  }

  ::ng-deep.mat-card-header-text {
    width: 100%;
    margin: 0px 0px 7px !important;
  }

  .card-name {
    line-height: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .star {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    color: #d3d3d3;
    vertical-align: middle;
  }

  .full {
    color: red;
  }

  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: red;
  }

  .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .divider {
    margin: 0 7px;
    vertical-align: middle;
    font-size: 20px;
  }

  .close-btn {
    margin: 5px 10px;
    background: #1976d2 !important;
  }

  .card-details {
    text-align: center;
    margin-bottom: 20px;
  }

  .card-details img {
    width: 600px !important;
    height: 360px !important;
    margin: 0px !important;
  }

  .card-content-hd {
    font-weight: 500;
  }

  .card-details-ft {
    margin-top: 25px;
    text-align: center;
    background: #1976d2;
    padding: 10px 0px;
  }

  .card-dft-spinner {
    margin: 30px auto;
  }

  .no-results {
    margin-top: 25px;
    text-align: center;
    padding: 10px 0px;
  }
</style>

<div class="toolbar" role="banner">
  <div class="app-title" (click)="onTitleClick()">{{ title }}</div>
  <div class="center">
    <mat-form-field class="min-w-500">
      <mat-label class="tc-w">Search Recipes</mat-label>
      <input class="search-bar" matInput #ingredient autocomplete="off"
             placeholder="Type any ingredient name (ex. egg) and press Enter."
             (keyup.enter)="onInputSubmit(ingredient.value)">
    </mat-form-field>
    <button class="search-btn" mat-stroked-button color="primary"
            (click)="onInputSubmit(ingredient.value)">
      Search
    </button>
  </div>
</div>

<div class="content" role="main">
  <!-- Search Results -->
  <h2 class="no-results" *ngIf="recipes.length == 0">
    {{ message }}
  </h2>
  <mat-grid-list cols="4" rowHeight="335px" *ngIf="!showDetails && recipes.length > 0">
    <mat-grid-tile *ngFor="let recipe of recipes">
      <mat-card class="card" matRipple (click)="onCardClick(recipe.id)">
        <mat-card-header>
          <mat-card-title class="card-name" matTooltip="{{ recipe.name }}">
            {{ recipe.name }}
          </mat-card-title>
          <mat-card-subtitle>
            <div class="align-l">
              <ngb-rating [(rate)]="recipe.avg_rating" [readonly]="true" [max]="5">
                <ng-template let-fill="fill">
                  <span class="star" [class.full]="fill === 100">
                    <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                  </span>
                </ng-template>
              </ngb-rating>
              {{ recipe.total_reviews | number }}
            </div>
            <div class="align-r">{{ recipe.calories | number:'1.0-0' }} Calories</div>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ recipe.image }}" height="150">
        <mat-card-content>
          <p class="card-text"
             matTooltip="{{ recipe.ingredients.join(', ') | cardTooltip }}"
             [innerHTML]="recipe.ingredients.join(', ') | cardContent">
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- Recipe Details -->
  <div *ngIf="showDetails">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ details.name }}
        </mat-card-title>
        <mat-card-subtitle>
            <ngb-rating [(rate)]="details.avg_rating" [readonly]="true" [max]="5">
              <ng-template let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                </span>
              </ng-template>
            </ngb-rating>
            Ratings
            <span class="divider">&bull;</span>
            {{ details.total_reviews | number }} Reviews
            <span class="divider">&bull;</span>
            {{ details.calories | number:'1.0-0' }} Calories
        </mat-card-subtitle>
        <div>
          <button class="close-btn" mat-raised-button color="primary"
                  (click)="onCloseClick()">
            {{ buttonText }}
          </button>
        </div>
      </mat-card-header>
      <div class="card-details">
        <img mat-card-image src="{{ details.image }}">
      </div>
      <mat-card-content>
        <div *ngIf="details.time_taken.length > 1">
          <h2 class="card-content-hd">Timings</h2>
          <ul>
            <li *ngFor="let time of details.time_taken | cardTiming">
              {{ time }}
            </li>
          </ul>
        </div>
        <h2 class="card-content-hd">Ingredients</h2>
        <ul>
          <li *ngFor="let ingredient of details.ingredients">
            {{ ingredient }}
          </li>
        </ul>
        <h2 class="card-content-hd">Directions</h2>
        <ul>
          <li *ngFor="let direction of details.directions">
            {{ direction }}
          </li>
        </ul>
        <h2 class="card-content-hd">Nutrition</h2>
        <p>
          {{ details.calories | number:'1.0-0' }} calories;
          protein {{ details.protein | number:'1.0-0' }}{{details.nutrition.protein.unit}}
          {{details.nutrition.protein.percentDailyValue}}% DV;
          carbohydrates {{ details.carbohydrates | number:'1.0-0' }}{{details.nutrition.carbohydrates.unit}}
          {{details.nutrition.carbohydrates.percentDailyValue}}% DV;
          fat {{ details.fat | number:'1.0-0' }}{{details.nutrition.fat.unit}}
          {{details.nutrition.fat.percentDailyValue}}% DV.
        </p>
      </mat-card-content>
    </mat-card>

    <!-- Similar Recipes -->
    <h2 class="card-details-ft tc-w">Similar Recipes</h2>
    <mat-spinner class="card-dft-spinner" *ngIf="recommends.length == 0"></mat-spinner>
    <mat-grid-list cols="4" rowHeight="335px" *ngIf="recommends.length > 0">
      <mat-grid-tile *ngFor="let recommend of recommends">
        <mat-card class="card" matRipple (click)="onCardClick(recommend.id)">
          <mat-card-header>
            <mat-card-title class="card-name" matTooltip="{{ recommend.name }}">
              {{ recommend.name }}
            </mat-card-title>
            <mat-card-subtitle>
              <div class="align-l">
                <ngb-rating [(rate)]="recommend.avg_rating" [readonly]="true" [max]="5">
                  <ng-template let-fill="fill">
                    <span class="star" [class.full]="fill === 100">
                      <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                    </span>
                  </ng-template>
                </ngb-rating>
                {{ recommend.total_reviews | number }}
              </div>
              <div class="align-r">{{ recommend.calories | number:'1.0-0' }} Calories</div>
            </mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{ recommend.image }}" height="150">
          <mat-card-content>
            <p class="card-text"
               matTooltip="{{ recommend.ingredients.join(', ') | cardTooltip }}"
               [innerHTML]="recommend.ingredients.join(', ') | cardContent">
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
